<div style="margin: 10px;">
  <p>{{ httpMessage }}</p>
  <input type="text" [formControl]="input">
  <button (click)="doHttpAction()">click</button>
</div>
<div class="container">
  <p class="message">{{ getMyData() }}</p>
  <table>
    <tr>
      <th>name</th>
      <th>mail</th>
      <th>tel</th>
    </tr>
    <tr *ngFor="let item of getMyDataList()">
      <td>{{ item.name }}</td>
      <td>{{ item.mail }}</td>
      <td>{{ item.tel }}</td>
    </tr>
  </table>
  <hr>

  <p class="message">{{ content }}</p>
  <ul>
    <li *ngFor="let item of content2">{{ item }}</li>
  </ul>
  <hr>
  <ul (click)="doClick()">
      <li *ngFor="let item of _pContent">{{ item }}</li>
  </ul>
  <hr>
  <ul (click)="doAction($event)">
      <li *ngFor="let item of _pContent">{{ item }}</li>
  </ul>
  <hr>
  <ul (click)="doAction($event)">
      <li *ngFor="let item of sContent">{{ item }}</li>
  </ul>
</div>
