<div id="body">
  <h1>{{ title }}</h1>
  <p>{{ message }}</p>
  <p>{{ toDay() }}</p>
  <p [class]="styleClass">{{ message }}</p>
  <p [style.font-size.pt]="36" [style.color]="'#F00'">{{ message }}</p>
  <p [class]="styleClass">{{ message }}</p>
  <button (click)="doClick()">Click</button>
  <input type="text" #field1 (keyup)="doType(field1.value)">

  <p *ngIf="visible" (click)="ngIfClick()" class="red">This is True message.</p>
  <p *ngIf="visible === false" (click)="ngIfClick()">This is False message.</p>
  <ul>
    <li *ngFor="let item of data">{{ item }}</li>
  </ul>
  <div [ngSwitch]="switch">
    <p *ngSwitchCase="'one'">First paragrah!</p>
    <p *ngSwitchCase="'two'">Second paragrah!</p>
    <p *ngSwitchCase="'three'">Third paragrah!</p>
    <p *ngSwitchDefault>Default paragrah!</p>
  </div>
  <select #sel (change)="doSelect(sel.value)">
    <option>one</option>
    <option>two</option>
    <option>three</option>
  </select>

  <p [ngClass]="nowClass">ngClass:{{ngClassMsg}}</p>
  <input type="checkbox" #ck1 (change)="check(ck1.checked, ck2.checked, ck3.checked)">Thin
  <input type="checkbox" #ck2 (change)="check(ck1.checked, ck2.checked, ck3.checked)">Large
  <input type="checkbox" #ck3 (change)="check(ck1.checked, ck2.checked, ck3.checked)">Frame

  <p [ngStyle]="nowStyle">ngStyle:{{ ngStyleMsg }}</p>
  <input type="text" #in1 (change)="checkStyle(in1.value, in2.value, in3.value)"><br>
  <input type="text" #in2 (change)="checkStyle(in1.value, in2.value, in3.value)"><br>
  <input type="text" #in3 (change)="checkStyle(in1.value, in2.value, in3.value)"><br>
  <hr>
  <p>TYPE:{{ text1 }}</p>
  <input type="text" [(ngModel)]="text1">
  <p>reactiveFormTYPE:{{ myControl.value }}</p>
  <input type="text" [formControl]="myControl">
  <button (click)="doFormControlClick()">Click</button>
  <p>{{myFormGroupMsg}}</p>
  <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <th>Name</th>
        <td><input type="text" formControlName="name"></td>
      </tr>
      <tr>
        <th>Mail</th>
        <td><input type="text" formControlName="mail"></td>
      </tr>
      <tr>
        <th>age</th>
        <td><input type="number" formControlName="age"></td>
      </tr>
      <tr>
        <th></th>
        <td><input type="submit" value="click"></td>
      </tr>
    </table>
  </form>

  <p>{{ myFormGroupMsg2 }}</p>
  <form [formGroup]="myFormGroup2" (ngSubmit)="onSubmit()" >
    <div>
      <label><input type="checkbox" formControlName="control">Check Box</label>
    </div>
    <input type="radio" value="a" formControlName="control">a
    <input type="radio" value="b" formControlName="control">b
    <select formControlName="control">
      <option value="a">あ</option>
      <option>i</option>
      <option value="う">u</option>
    </select>
    <div>
      <input type="submit" value="click">
    </div>
  </form>

  <p>{{ myFormGroupMsg3 }}</p>
  <form #f="ngForm" (ngSubmit)="onSubmit2(f.value)">
      <table>
          <tr>
            <th>Name</th>
            <td><input type="text" name="name" ngModel></td>
          </tr>
          <tr>
            <th>Mail</th>
            <td><input type="text" name="mail" ngModel></td>
          </tr>
          <tr>
            <th>age</th>
            <td><input type="number" name="age" ngModel></td>
          </tr>
          <tr>
            <th></th>
            <td><input type="submit" value="click"></td>
          </tr>
        </table>
  </form>

  <p>{{ myFormGroupMsg4 }}</p>
  <form [(formGroup)]="myFormGroup4" (ngSubmit)="onSubmit3()" >
    <table>
        <tr>
          <th>Name</th>
          <!-- <div *ngIf="name1.invalid">Nameは必須項目です。</div> -->
          <div *ngIf="name1.errors != null && name1.errors.required != null">Nameは必須項目です。</div>
          <div *ngIf="name1.errors != null && name1.errors.alpha != null">半角アルファベットのみ入力可能です。</div>
          <div><td><input type="text" formControlName="name1"></td></div>
        </tr>
        <tr>
          <th>Mail</th>
          <div *ngIf="mail1.errors != null && mail1.errors.email != null">メールアドレスが必要です。</div>
          <div><td><input type="text" formControlName="mail1"></td></div>
        </tr>
        <tr>
          <th>age</th>
          <div *ngIf="age1.errors != null && age1.errors.min != null">1歳以上を入力してください。</div>
          <div *ngIf="age1.errors != null && age1.errors.max != null">150歳以下を入力してください。</div>
          <div *ngIf="age1.errors != null && age1.errors.even != null">偶数のみ入力可能です。</div>
          <div><td><input type="number" formControlName="age1"></td></div>
        </tr>
        <tr>
          <th></th>
          <td><input [disabled]="myFormGroup4.invalid" type="submit" value="click"></td>
        </tr>
      </table>
  </form>
</div>
